<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exam</title>
  </head>
  <body>
    <h1>Exam</h1>
    <form id="submitForm" action="/ex/submit" method="post">
      <% selectedQuestionsContent.forEach((question, index) => { %>
      <div>
        <input
          type="hidden"
          name="questionIds[<%= index %>]"
          value="<%= question._id %>"
        />
        <p><%= question.question %></p>
        <% const options = ['A', 'B', 'C', 'D']; %> <% const savedAnswer =
        savedAnswers.find(a => a.questionId === question._id.toString()); %> <%
        question.options.forEach((option, optionIndex) => { %> <input
        type="radio" id="<%= 'option-' + index + '-' + optionIndex %>"
        name="answers[<%= index %>]" value="<%= options[optionIndex] %>"
        onchange="handleRadioChange('<%= question._id %>',
        '<%=options[optionIndex] %>')" <%= savedAnswer && savedAnswer.userAnswer
        === options[optionIndex] ? 'checked' : '' %> />
        <label for="<%= 'option-' + index + '-' + optionIndex %>">
          <%= options[optionIndex] %>. <%= option %>
        </label>
        <br />
        <% }); %>
      </div>
      <% }); %>
      <input type="hidden" name="saveOnly" id="saveOnly" value="false" />
      <button type="button" onclick="handleSaveProgress()">
        Save Progress
      </button>
      <button type="button" name="saveOnly" onclick="handleSubmit()">
        Submit
      </button>
    </form>

    <script>
      // 创建一个对象来存储问题的 ID 和对应的答案
      const answersObject = {};

      function handleRadioChange(questionId, answer) {
        // 将问题的 ID 和答案存储在对象中
        answersObject[questionId] = answer;
      }

      function handleSaveProgress() {
        // 将 answersObject 作为一个字段添加到表单中
        const form = document.getElementById("submitForm");
        const answersInput = document.createElement("input");
        answersInput.type = "hidden";
        answersInput.name = "answersObject";
        answersInput.value = JSON.stringify(answersObject);
        form.appendChild(answersInput);

        // 设置保存标志为 true
        document.getElementById("saveOnly").value = "true";

        // 提交表单
        form.submit();
      }

      function handleSubmit() {
        // 将 answersObject 作为一个字段添加到表单中
        const form = document.getElementById("submitForm");
        const answersInput = document.createElement("input");
        answersInput.type = "hidden";
        answersInput.name = "answersObject";
        answersInput.value = JSON.stringify(answersObject);
        form.appendChild(answersInput);

        // 设置保存标志为 false
        document.getElementById("saveOnly").value = "false";

        // 提交表单
        form.submit();
      }
    </script>
  </body>
</html>
