<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exam</title>
  </head>
  <body>
    <h1>Exam</h1>
    <form action="/ex/submit" method="post">
      <% questions.forEach((question, index) => { %>
      <div>
        <p><%= question.question %></p>
        <% const options = ['A', 'B', 'C', 'D']; %> <%
        question.options.forEach((option, optionIndex) => { %>
        <input
          type="radio"
          id="<%= 'option-' + index + '-' + optionIndex %>"
          name="answers[<%= index %>]"
          value="<%= options[optionIndex] %>"
          required
        />
        <label for="<%= 'option-' + index + '-' + optionIndex %>"
          ><%= options[optionIndex] + '. ' + option %></label
        ><br />
        <% }); %>
      </div>
      <% }); %>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
