<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exam</title>
  </head>
  <body>
    <h1>Exam</h1>
    <form id="submitForm" action="/<%= examType%>/submit" method="post">
      <% selectedQuestionsContent.forEach((question, index) => { %>
      <div>
        <input
          type="hidden"
          name="questionIds[<%= index %>]"
          value="<%= question._id %>"
        />
        <p><%= question.question %></p>
        <% const options = ['A', 'B', 'C', 'D']; %> <% const savedAnswer =
        savedAnswers.find(a => a.questionId === question._id.toString()); %> <%
        question.options.forEach((option, optionIndex) => { %> <input
        type="radio" id="<%= 'option-' + index + '-' + optionIndex %>"
        name="answers[<%= index %>]" value="<%= options[optionIndex] %>"
        onchange="handleRadioChange('<%= question._id %>',
        '<%=options[optionIndex] %>')" <%= savedAnswer && savedAnswer.userAnswer
        === options[optionIndex] ? 'checked' : '' %> />
        <label for="<%= 'option-' + index + '-' + optionIndex %>">
          <%= option %>
        </label>
        <br />
        <% }); %>
      </div>
      <% }); %>
      <input type="hidden" name="saveOnly" id="saveOnly" value="false" />
      <button type="button" onclick="handleSaveProgress()">
        Save Progress
      </button>
      <button type="button" name="saveOnly" onclick="handleSubmit()">
        Submit
      </button>
    </form>

    <script>
      const answersObject = {};

      function handleRadioChange(questionId, answer) {
        answersObject[questionId] = answer;
      }

      function handleSaveProgress() {
        const form = document.getElementById("submitForm");
        let answersInput = document.getElementById("answersObject");
        if (!answersInput) {
          answersInput = document.createElement("input");
          answersInput.type = "hidden";
          answersInput.id = "answersObject";
          answersInput.name = "answersObject";
          form.appendChild(answersInput);
        }
        answersInput.value = JSON.stringify(answersObject);

        document.getElementById("saveOnly").value = "true";

        form.submit();
      }

      function handleSubmit() {
        const form = document.getElementById("submitForm");
        let answersInput = document.getElementById("answersObject");
        if (!answersInput) {
          answersInput = document.createElement("input");
          answersInput.type = "hidden";
          answersInput.id = "answersObject";
          answersInput.name = "answersObject";
          form.appendChild(answersInput);
        }
        answersInput.value = JSON.stringify(answersObject);

        document.getElementById("saveOnly").value = "false";

        form.submit();
      }
    </script>
  </body>
</html>
